<div id="page-content-index">
    <h2 class="text-center" id="h2">Listing all articles</h2>
    <%= render 'article' %>
</div>

<footer id="sticky-footer" class="bg-dark text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
            <li class="breadcrumb-item active" aria-current="page">Articles</li>
        </ol>
    </nav>
    <%= render 'layouts/copyright' %>
</footer>