<div id="page-content-edit_u">
    <h2 class="text-center" id="h2">Edit your profile</h2>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card text-center shadow mb-3 rounded" style="background-color:rgba(236, 243, 252, 0.8)">
                    <div class=" card-header font-italic" id="card-header-new"></div>
                    <div class="card-body-new">
                        <%= render 'form'%>
                    </div>
                    <div class="card-footer text-muted" id="card-footer-new">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <%=link_to '[ Cancel and return to Homepage ]', root_path, class: "btn btn-warning mt-2"%>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="bg-dark text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
            <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
        </ol>
    </nav>
    <%= render 'layouts/copyright' %>
</footer>