<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    <h1>Bärles Website</h1>
    <p>Den mag ich!</p>
    <img src="/images/photo_2020-06-24_12-33-21.jpg" />
</body>

</html>