<div id="page-content-home">
    <div class="jumbotron text-wrap">
        <div class="row justify-content-ld-center">
            <h1 class="display-3">Hello World!</h1>
        </div>
        <div class="row justify-content-ld-center">
            <div class="row justify-content-md-center">
                <a class="btn btn-outline-success btn-lg" id="sign_up_btn" href="#" role="button">Sign up!</a>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="bg-dark text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to 'Luis Holzer' %></small>
    </div>
</footer>
</div>