<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    <h1>Hallo Luzie</h1>
    <p>Das ist meine erste Test Website (online)</p>
    <%= image_tag  "https://img.fotocommunity.com/sweet-cat-dcc08750-69a2-4eb5-afcb-93705482de87.jpg?height=1080" %>
</body>

</html>