<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-wrap">
            <h1 class="display-4">Hello World!</h1>
            <div class="row justify-content-md-center">
                <div class="col-8 mt-4">
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                        calling extra attention
                        to
                        featured content or
                        information.</p>
                    <p class="lead mt-5">
                        <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer id="sticky-footer" class="bg-dark text-white">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
        <div class="container text-center">
            <small>Copyright &copy; <%= link_to 'Luis Holzer' %></small>
        </div>
    </footer>
</div>