<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    <h1>Homepage</h1>
    <h2>Das ist mein Blog</h2>
    <%= image_tag("photo_2020-06-24_12-33-21.jpg", :alt => "rss feed") %>
</body>

</html>