<div id="page-content-home">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-wrap">
            <h1 class="display-4"></h1>
            <div class="row justify-content-md-center">
                <div class="col-8 mt-4">
                    <h1>This is my Homepage</h1>
                    <br><br><br><br>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-n3">
            <a class="btn btn-outline-success btn-lg mb-3" href="#" role="button">Sign up!</a>
        </div>
    </div>

    <footer id="sticky-footer" class="bg-dark text-white">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
        <div class="container text-center">
            <small>Copyright &copy; <%= link_to 'Luis Holzer' %></small>
        </div>
    </footer>
</div>