@import 'bootstrap/dist/css/bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}


#logo:hover{
 color: #fff;
  text-decoration: none;
}
.navbar {
    background-color: black !important;
}

.nav-link{
    color: grey !important;
}

.navbar-dark .navbar-toggler-icon{
  color: grey !important;
}

.jumbotron {
   background-color:rgba(236, 243, 252, 0);
}

.jumbotron h1 {
  color: rgb(199, 199, 199);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.jumbotron p {
    color:rgb(9, 4, 34);
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
  width: 100%;
}

#page-content-edit{
  flex: 1 0 auto;
    background-image: asset-url("patrick-mcmanaman-LN_g3qA8ohg-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

#page-content-show{
  flex: 1 0 auto;
    background-image: asset-url("nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#page-content-new{
  flex: 1 0 auto;
    background-image: asset-url("jongsun-lee-F-pSZO_jeE8-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
#page-content-edit_u{
  flex: 1 0 auto;
    background-image: asset-url("greg-rakozy-oMpAz-DN-9I-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}


#page-content-index{
  flex: 1 0 auto;
    background-image: asset-url("efe-kurnaz-RnCPiXixooY-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-content-home{
  flex: 1 0 auto;
  background: asset-url("the-new-york-public-library-yEauzeZU6xo-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#page-content-new_u{
  flex: 1 0 auto;
  background: asset-url("spacex-PIOgkhaF3WA-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-content{
  flex: 1 0 auto;
    background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

#card-header{
  color: rgb(224, 224, 224);
  background-color: rgb(52, 58, 64)
}
#card-header-new{
  padding: 1.3rem;
  color: rgb(224, 224, 224);
  background-color: rgb(52, 58, 64);
  margin-bottom: 20px;
}
#card-footer{
  color: rgb(224, 224, 224);
}
#card-footer-new{
  padding: 1.3rem;
  color: rgb(224, 224, 224);
}

#sign_up_btn{
  margin-left: 20px;
}
#h2{
  color: white;
  background-color:rgba(236, 243, 252, 0);
  margin: 10px;
  padding: 5px;
}

#copyright{
  padding: 0.3rem;
}