$enable-shadows: true;

@import 'bootstrap/dist/css/bootstrap';

/* Logo Styling */

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
 color: #fff;
  text-decoration: none;
}


/* Navbar Styling */

.navbar {
    background-color: black !important;
}

.nav-link{
    color: rgb(202, 202, 202) !important;
}

.navbar-dark .navbar-toggler-icon{
  color: rgb(202, 202, 202) !important;
}

/* Jumbotron Styling */

.jumbotron {
   background-color:rgba(236, 243, 252, 0);
}

.jumbotron h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

/*Page styling*/

html,
body {
  height: 100%;
  width: 100%;
}

#sign_up_btn{
  margin-left: 20px;
}

a{
  color: #5cb4f0;
}

a:hover{
  color: #36b947;
  text-decoration: none;
}

#container-u{
  width: 450px;
  padding: 1.3rem;
  background-color: currentColor;
  border-style: solid;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Page content styling */

#page-content{
  flex: 1 0 auto;
    background-color: #1f1b22;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-content-home{
  flex: 1 0 auto;
  background: asset-url("the-new-york-public-library-yEauzeZU6xo-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#page-content-show-u{
  flex: 1 0 auto;
    background-color: #1f1b22;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid;
    border-width: 2px;;
    border-color: #fff;
}
#page-content-show_u_articles{
   flex: 1 0 auto;
    background-color: #49444c;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Sticky footer */

#sticky-footer {
  flex-shrink: none;
}

/* Copyright */

#copyright{
  padding-bottom: 0.5rem;
  margin-bottom: 5px;
}

/* Card Styling */

#article-card{
  border-width: 0.1px;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  background-color:rgb(185, 190, 196) !important;
}

#card-body{
  border-color: #fff;
}

#card-header{
  color: rgb(224, 224, 224);
  background-color: rgb(55, 66, 77);
  border-style: solid;
  border-color: #fff;
  border-width: 0.5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#card-footer{
  color: rgb(16, 2, 44) !important; 
  background-color:rgb(101, 129, 158);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #fff;
}

/* Precise styling */


#h2{
  color: white;
  background-color:rgba(236, 243, 252, 0);
  margin: 10px;
  padding: 5px;
}

/* Pagination */

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
    border-radius: 5px;
  }
  .flickr_pagination .disabled {
    color: rgb(108, 182, 182) }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: rgb(151, 255, 255) }
  .flickr_pagination a {
    border: 1px solid whitesmoke;
    color: rgb(151, 255, 255);
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: whitesmoke;
      background: rgb(49, 82, 82);
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

.zoom {
  transition: transform .1s;
}
.zoom:hover {
  transform: scale(1.2);
}


